.sidebar{
  position: fixed;
  background-color:rgb(86, 133, 141);
  /* // background-color:rgb(232, 233, 233); */
/* //   background-color:rgb(252, 214, 233); */
  height: 100%;
  width: 250px;
  /* // z-index: 1045; */
  overflow-y:auto;
  overflow-x:hidden;
  }

  .sidebar1{
  background-color:rgb(86, 133, 141);
  }

  .link{
  color: black;
  font-size: 20px;
  }

   .link:hover{
  color: #007bff; 
  /* // color:rgb(53, 151, 255);  */
/* //   background-color:rgb(250, 250, 250);  */
 background-color:rgb(140, 175, 212);
/* //   background-color:rgb(204, 229, 255);  */
  }

.link2{
  color: black;
   background-color:rgb(250, 250, 250);
  font-size: 20px;
  }

    .link2:hover{
  /* // color: #007bff;  */
  color: black; 
  /* // color:rgb(53, 151, 255);  */
  /* // background-color:rgb(250, 250, 250);  */
 background-color:rgb(140, 175, 212);
  }

 .links {
   background-color: rgb(232, 233, 233);
   overflow-y:auto;
  overflow-x:hidden;
 }

 .no-caret::after {
  display: none !important;
}

/* print css */
/* Hide everything by default when printing */
@media print {
  body * {
    visibility: hidden;
  }

  /* Show only the table and its data (except the Action column) */
  #printable-table,
  #printable-table * {
    visibility: visible;
  }


  @media print {
    #printable-table th.no-print,
    #printable-table td.no-print {
      display: none !important;
    }
  }

  /* Ensure the table takes full width */
  #printable-table {
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
  }

  /* Add borders to the table for better readability */
  #printable-table {
    border-collapse: collapse;
  }
  #printable-table th,
  #printable-table td {
    border: 1px solid black;
  }

  /* Remove padding and margin for the body */
  body {
    margin: 0;
    padding: 0;
  }
}

@media print {
  #printable::before {
    content: "City Data Report";
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
}