.sidebar{
  position: fixed;
  background-color:rgb(86, 133, 141);
  /* // background-color:rgb(232, 233, 233); */
/* //   background-color:rgb(252, 214, 233); */
  height: 100%;
  width: 250px;
  /* // z-index: 1045; */
  overflow-y:auto;
  overflow-x:hidden;
  }

  .sidebar1{
  background-color:rgb(86, 133, 141);
  }

  .link{
  color: black;
  font-size: 20px;
  }

   .link:hover{
  color: #007bff; 
  /* // color:rgb(53, 151, 255);  */
/* //   background-color:rgb(250, 250, 250);  */
 background-color:rgb(140, 175, 212);
/* //   background-color:rgb(204, 229, 255);  */
  }

.link2{
  color: black;
   background-color:rgb(250, 250, 250);
  font-size: 20px;
  }

    .link2:hover{
  /* // color: #007bff;  */
  color: black; 
  /* // color:rgb(53, 151, 255);  */
  /* // background-color:rgb(250, 250, 250);  */
 background-color:rgb(140, 175, 212);
  }

 .links {
   background-color: rgb(232, 233, 233);
   overflow-y:auto;
  overflow-x:hidden;
 }

 .no-caret::after {
  display: none !important;
}